
        .form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"], textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 4px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
}

button[type="submit"]:hover {
  cursor: pointer;
  background-color: #3e8e41;
}