<html>
<body>
<h1>Shoppers Shop</h1>
<nav>
  <ul>
    <li> <a [routerLink]="['/login']">Login</a></li>
    <li> <a [routerLink]="['/products']">Products</a></li>
    <li> <a [routerLink]="['/productsdetails']">Productsdetails</a></li>
  </ul>
</nav>

<!--   
    <div class="container">
      <h2>Login</h2>
      <form>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
  
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
  
        <input type="submit" value="Login" routerLink="/products">
      </form>
      <div class="error" id="error-message"></div>
    </div> -->
  </body>
</html>
<!-- <div> -->
<router-outlet></router-outlet>
<!-- </div> -->
