body {font-family: Arial, Helvetica, sans-serif;
    /* background-image: url(https://images.unsplash.com/uploads/1413222992504f1b734a6/1928e537?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y29udGFjdCUyMGZvcm18ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat; */
}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #9f04aa71;
  color: white;
  padding: 12px ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #271fc4;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 80px 150px;
  margin: 100px 10px;
}

h3{
    font-size: 55px;
}